h1{
  color: white;
  font-family: 'Times New Roman';
  font: bold;
  font-style: italic;
  text-align: center;
}

div {
  background-color:red; 
}

img {
  position: relative;
  left: 35%;
  width: 30%;
}